# Server Configuration
PORT=3000
API_KEY=your_secure_api_key_here

# WhatsApp Configuration
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36

# Image Storage
IMAGE_DIR=./images
IMAGE_RETENTION_DAYS=1
AA_WAPP_KEY=92b6448a71226d2b01a56234b28275f19c1a0dc3ad132bc02ba07954abbd8fa7
AA_WAPP_API=https://api-nepal.all-attend.com/api
